@font-face {
  font-family: "HeliosC", sans-serif;
  src: url("./fonts/HeliosC.woff2") format("woff2"),
    url("./fonts/HeliosC.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "HeliosC-Bold", sans-serif;
  src: url("./fonts/HeliosC-Bold.woff2") format("woff2"),
    url("./fonts/HeliosC-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium", sans-serif;
  src: url("./fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
