@import "./fonts";

$MainBlue: #003264;
$Dark: #242627;
$Blue: #187cd3;
$Orange: #e9862a;
$Gray: #e0e0e0;
$Gray2: #ededed;
$Gray3: #828282;
$Gray4: #f2f2f2;
$Stroke: #646464;
$WhiteBg: #f7f7f7;

@mixin f400 {
  font-family: "HeliosC", sans-serif;
  font-weight: 400;
}

@mixin f500 {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 500;
}

@mixin f700 {
  font-family: "HeliosC-Bold", sans-serif;
  font-weight: 700;
}
@mixin shadow {
  filter: drop-shadow(0px 4px 52px rgba(0, 0, 0, 0.13));
}
@mixin anim {
  animation: process 2s infinite linear;
}
